html,
body {
    position: relative;
    min-height: 100%;
    color: #9eaab7;
    background-color: #0f1117;
    margin: 0;
    font-feature-settings: 'kern';
    line-break: auto;
    font-family: 'Wotfard', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'BlinkMacSystemFont', 'Helvetica Neue', 'Arial', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
}

a {
    background-color: transparent;
    color: inherit;
    word-break: inherit;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
    word-wrap: break-word;
    font-size: inherit;
    font-weight: inherit;
}

.navbar {
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
}

@media screen and (min-width: 48em) {
    .main-content {
        margin: 5% auto;
    }
}

@media screen and (min-width: 62em) {
    .main-content {
        gap: 6rem;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.about {
    display: grid;
    grid-template-areas: "bio avatar";
    gap: 2rem;
}

.bio {
    display: flex;
    flex-direction: column;
    grid-area: bio;
    flex: 1;
    line-height: 150%;
    font-size: 20px;
    max-width: 42rem;
}

.bio .name {
    font-size: 4.5rem;
    line-height: 1.2;
    font-weight: 900;
    color: #eee;
}

.bio .content .text {
    margin-top: 1rem;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.bio .content {
    margin-top: 1rem;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    display: flex;
    flex-direction: column;
}

.bio .links {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
}

.about .avatar-area {
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 100%;
}

.content-grid {
    display: grid;
    grid-template-areas: "blog blog spotify";
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 3rem;
}

.icon-container {
    max-width: 70;
    max-height: 70;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.4s;
    transform: scale(1);
}

.icon-container:hover {
    transform: scale(1.1);
}

.avatar-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 340px;
    height: min-content;
    border-radius: 0.5rem;
}

@media screen and (min-width: 62em) {
    .bio .name {
        font-size: 4.5rem;
    }
}

.icon-lightup {
    color: #9eaab7;
    transition-property: color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.icon-lightup:hover {
    color: #eee;
}

.links>*~* {
    margin-right: 0;
    margin-inline-start: 1rem;
}

.avatar {
    height: min-content;
}

.avatar:hover>.credit {
    opacity: 1;
    transform: translateY(-5px);
}

.credit {
    z-index: -1;
    transition: 0.4s;
    opacity: 0;
    transform: translateY(-40px);
    color: #718096;
    font-weight: 300;
    margin-top: 0.75rem;
    margin-inline-start: 0.75rem;
    font-size: 13px;
}

.instagram-link {
    color: hsl(333deg, 100%, 45%);
}

.blog-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 72rem;
    grid-area: blog;
    flex: 1;
}

.blog-container>*~* {
    margin-top: 1.5rem;
}

.spotify-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 72rem;
    grid-area: spotify;
}

.spotify-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #eee;
}

.header-text {
    color: #9eaab7;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.spotify-header>.text {
    color: #9eaab7;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.tracks-container {
    margin-top: 1.5rem;
    margin-inline-end: 0;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    display: grid;
    grid-gap: 2rem;
}

.track-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.track {
    display: grid;
    grid-gap: 0.75rem;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.track-date {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.track-date>.line-1 {
    min-width: 25px;
    height: 1px;
    background: #181b2b;
}

.track-date>.date {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #718096;
}

.track-date>.line-2 {
    width: 100%;
    height: 1px;
    background: #181b2b;
}

.track-anchor {
    cursor: pointer;
    text-decoration: none;
    outline: 2px solid transparent;
    overflow: hidden;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
}

.track-anchor:hover {
    background: #181c24;
    border-color: #232735;
    transform: scale3d(1.02, 1.02, 1.02);
}

.track-info {
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

.track-image {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 0.375rem;
    overflow: hidden;
}

.track-about {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.track-about>.title {
    text-decoration: none;
    color: #f5f5f5;
    white-space: nowrap;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-about>.artist {
    color: #9eaab7;
}

.blog-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.code {
    font-size: 13px;
    margin-right: 0.5rem;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.max-width {
    width: 100%;
}

.title-text {
    font-weight: 600;
    font-size: 22px;
    display: inline;
}

.game-title {
    font-size: 18px;
    color: #eee;
}

.game-time {
    font-size: 16px;
}

.game-description-content {
    max-height: 100px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.game-list {
    margin-top: 1.5rem;
}

.game-list>*~* {
    margin-top: 2.55rem;
}

// .song-container {
//     display: flex;
//     flex-direction: column;
//     gap: 0.75rem;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-regularitalic-webfont.ttf") format("truetype");
//     font-weight: 400;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-bolditalic-webfont.ttf") format("truetype");
//     font-weight: 700;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-semibolditalic-webfont.ttf") format("truetype");
//     font-weight: 600;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-regular-webfont.ttf") format("truetype");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-medium-webfont.ttf") format("truetype");
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-mediumitalic-webfont.ttf") format("truetype");
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-semibold-webfont.ttf") format("truetype");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Wotfard";
//     src: url("wotfard/wotfard-bold-webfont.ttf") format("truetype");
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-weight: 400;
//     font-family: "JetBrains Mono";
//     font-style: normal;
//     src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"), url("JetBrainsMono-Regular.woff2") format("woff2");
//     font-feature-settings: "aalt" 1, "calt" 1, "case" 1, "ccmp" 1, "frac" 1, "ordn" 1, "sinf" 1, "subs" 1, "sups" 1, "zero" 1, "mark" 1, "mkmk" 1;
//     font-display: swap;
// }